.title {
    width: 100%;
    /* background-color: #7F171F; */
    background-color: #177F7F;
    padding: 5px 0;
    text-align: center;
    color: white;
    border: 10px solid white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.white{
    color: white;
}

.center {
    text-align: center;
}

.route-title{
    background-color: #177F7F;
    padding: 4px 0;
    text-align: center;
    color: white;
    font-size: 24px;
}

.route-selected{
    background-color: #177F7F;
    padding: 2px 0;
    text-align: center;
    color: white;
    height: 24px;
}

.unstyled-list {
    list-style: none;
}

.unstyled-a {
    text-decoration: none !important;
    color: inherit !important;
}

* {
-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.scroll {
    overflow-y: scroll;
}

.route-select {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #22BF65;
    border-radius: 10px 0 0 10px;
    color: white;
}

.route{
    height: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 0 0 3px 0;
    background-color: #177F7F;
    border-radius: 0 0 0 10px;
    color: white;
}

.route.nobottom{
    margin: 0;
}

.nav-item{
    height: 60px;
    background-color: #DB5F2A;
}


.row .row5{
    width: 19.25%;
    float: left;
    height: 40px;
    margin: 0 0 0 1%;
    padding-top: 15px;
    background-color: #DB5F2A;
}

.row .row5:first-child{
    width: 20%;
    margin: 0;
}

.row .row4 {
    width: 23.5%;
    float: left;
    height: 60px;
    margin: 0 1%;
    background: #DB5F2A;
}

.row .row4:first-child{
    width: 24%;
    margin: 0 1% 0 0;
}

.row .row4:last-child{
    width: 24%;
    margin: 0 0 0 1%;
}

.row .left{
    padding-top: 10px;
    height: 80px;
    float: left;
    width: 48%;
    border-radius: 0 10px 10px 0;
    background: #DB5F2A;
    color: white;
}

.row .left.shadow{
    box-shadow: 0 4px 0 #DB4200;
}

.row .right{
    padding-top: 10px;
    height: 80px;
    float: right;
    width: 48%;
    border-radius: 10px 0 0 10px;
    background-color: #7F171F;
    color: white;
    overflow: hidden;
}

.row .right.shadow{
    box-shadow: 0 4px 0 black;
}

.row .bigger{
    height: 100px;
}

.row .middle{
    height: 80px;
    padding-top: 10px;
    width: 80%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 5px 0 #20b3b3;
    background-color: #177F7F;
    color: white;
}

.no-shadow{
    box-shadow: 0 0 0 0 !important;
}

.row .row-title, .stages-complete .row-title{
    font-size: 24px;
}

.row .row-emph, .stages-complete .row-emph{
    font-size: 30px;
}

.padder{
    height: 40px;
    width: 40px;
}

.heading {
    height: 40px;
    padding-top: 10px;
    background-color: #177F7F;
    color: white;
}

.run {
    margin-top: 30px;
    padding-top: 20px;
    height: 70px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 0 #20b3b3;
    background-color: #177F7F;
    color: white;
}

.run-finish {
    margin-top: 20px;
    padding-top: 10px;
    height: 60px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 40px;
    background-color: #7F171F;
    border-radius: 20px;
    box-shadow: 0 5px 0 black;
    color: white;
}


.stages-complete{
    margin-top: 30px;
    padding-top: 10px;
    height: 100px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 20px;
    background-color: #177F7F;
    color: white;
}


.selected {
    background-color: #177F7F !important;
}

.medal {
    width: 60px;
    height: 62px;
    margin-right: 20px;
    float: left;
    border-radius: 40px;
}

.medal.gold{
    background-color: #DAA520;
}

.medal.silver{
    background-color: #C0C0C0;
}

.medal.bronze{
    background-color: #8B4513;
}

.medal.blank{
    background-color: #177f7f;
    border: 1px solid white;
    height: 60px;
}

.ach-info{
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 0 3px 20px;
    background-color: #22BF65;
    color: white;
}

.centered-pills{ text-align: center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.route-done{

}

.route-done-incomplete{
    color: red;
}

.route-done-complete{
    color: #22BF65;    
}

.route-done-not-awarded{
    color: #0B3838;
}

.route-done-gold{
    color: gold;
}

.route-done-silver{
    color: silver;
}

.route-done-bronze{
    color: darkgoldenrod;
}