<div style="margin-bottom: 5px;">
  <div ng-click="toggle()"
       class="route-select">
    <h4 style="margin: 0;">{{mission.name}}</h4>
  </div>
  <ul class="unstyled-list"
      ng-show="show">
    <li ng-repeat="route in routes"
	ng-click="select(route)"
	class="route center"
	style="padding-right: 10px;">
      <h4 style="margin-left:0; margin-right:0;">{{route.name}}</h4>
      <div class="progress"
	   ng-class="{'progress-striped': route.completed,
		     'active': route.completed}"
	   style="margin-bottom: 10px;">
	<div class="progress-bar progress-bar-success" 
	     style="width: {{route.percent}}%"></div>
      </div>
      <div class="row center">
	<div class="col-xs-3">
	  <span>Done</span>
	  <span class="glyphicon glyphicon-ok route-done-complete"
		ng-show="route.completed"></span>
	  <span class="glyphicon glyphicon-remove route-done-incomplete"
		ng-hide="route.completed"></span>
	</div>
	<div class="col-xs-3">
	  <span>Gold</span>
	  <span class="glyphicon glyphicon-certificate
		       route-done-gold"
		ng-show="route.G"></span>
	  <span class="glyphicon glyphicon-remove route-done-incomplete"
		ng-hide="route.G"></span>
	</div>
	<div class="col-xs-3">
	  <span>Silver</span>
	  <span class="glyphicon glyphicon-certificate
		       route-done-silver"
		ng-show="route.S"></span>
	  <span class="glyphicon glyphicon-remove route-done-incomplete"
		ng-hide="route.S"></span>
	</div>
	<div class="col-xs-3">
	  <span>Bronze</span>
	  <span class="glyphicon glyphicon-certificate
		       route-done-bronze"
		ng-show="route.B"></span>
	  <span class="glyphicon glyphicon-remove route-done-incomplete"
		ng-hide="route.B"></span>
	</div>
      </div>
    </li>
  </ul>
</div>
