<div style="margin-bottom: 5px;">
  <div ng-click="toggle()"
       class="route-select">
    <h4 style="margin: 0;">{{mission.name}}</h4>
  </div>
  <ul class="unstyled-list"
      ng-show="show">
    <li ng-repeat="route in routes"
	ng-click="select(route)"
	class="route">
      {{route.name}}
      <div class="progress"
	   ng-class="{'progress-striped': route.completed,
		      'active': route.completed}"
	   style="margin-right: 10px;">
	<div class="progress-bar progress-bar-success" 
	     style="width: {{route.percent}}%"></div>
      </div>
    </li>
  </ul>
</div>
