<div style="margin-bottom: 5px;">
  <div ng-click="toggle()"
       class="route-select">
    <h4 style="margin: 0;">{{mission.name}}</h4>
  </div>
  <ul class="unstyled-list"
      ng-show="show">
    <li ng-repeat="route in routes"
	ng-click="select(route)"
	class="route center"
	style="padding-right: 10px;">
      <div class="row">
	<div class="col-xs-2">
	  <h2 ng-show="!(route.G || route.S || route.B)"
	      style="margin: 12px 0 0 0;">
	    <span class="glyphicon glyphicon-ok route-done-complete"
		  ng-show="route.completed"></span>
	    <span class="glyphicon glyphicon-lock"
		  ng-show="route.locked"></span>
	  </h2>
	  <h2 ng-show="(route.G || route.S || route.B)"
	      style="margin: 12px 0 0 0;">
	    <span class="glyphicon glyphicon-certificate"
		  ng-class="{'route-done-gold': route.G,
			    'route-done-silver': route.S,
			    'route-done-bronze': route.B}"></span>
	  </h2>
	</div>
	<div class="col-xs-10">
	  <h4 style="margin-left: 0; margin-right: 0;
		     margin-bottom: 0; margin-top: 5px;">{{route.name}}</h4>
	  <div class="progress"
	       ng-hide="route.locked"
	       ng-class="{'progress-striped': route.completed,
			 'active': route.completed}"
	       style="margin-bottom: 10px; margin-top: 10px;">
	    <div class="progress-bar progress-bar-success" 
		 style="width: {{route.percent}}%"></div>
	  </div>
	  <div ng-show="route.locked">
	    To unlock, complete <br />
	    &quot;{{route.lockedBy.name}}&quot;
	  </div>
	</div>
      </div>
    </li>
  </ul>
</div>
