<div>
  <div style="position: fixed;
	      top: 123px;
	      z-index: 1000;
	      width: 100%"
       class="bg-primary">
    <div class="center">
      <h2 style="margin: 0;
		 padding: 3px 0;">{{route.name}}</h2>
    </div>
  </div>
  <div style="margin-top: 30px;">
    <div style="width: 100%;
		height: 150px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-image: url({{session.stageImage}});"></div>
    <div class="container-fluid center">
      <div class="row bg-primary">
	<div class="col-xs-4">
	  <h3 style="margin-bottom: 0;
		     margin-top: 3px;">Distance:</h3>
	  <h2 style="margin-top: 0;
		     margin-bottom: 3px;">{{distanceSoFar | round}}m</h2>
	</div>
	<div class="col-xs-4">
	  <h3 style="margin-bottom: 0;
		     margin-top: 3px;">Time:</h3>
	  <h2 style="margin-top: 0;
	  	     margin-left: 0;
	  	     margin-right: 0;
	  	     margin-bottom: 3px;">{{hours|twoDigit}}:{{minutes|twoDigit}}:{{seconds|twoDigit}}</h2>
	</div>
	<div class="col-xs-4"
	     ng-show="nextMedal">
	  <h4 style="margin-bottom: 0;
		     margin-top: 3px;">Going For</h4>
	  <h2 style="margin-top: 0;
		     margin-bottom: 3px;">
	    <span class="glyphicon glyphicon-certificate"
		  ng-class="{'route-done-gold': nextMedal.value == 'G',
			    'route-done-silver': nextMedal.value == 'S',
			    'route-done-bronze': nextMedal.value == 'B'}"></span>
	  </h2>
	</div>
      </div>
    </div>
    
    <div class="bg-success center"
	 style="padding-top: 10px;
		padding-bottom: 20px;">
      <h4 style="margin: 0 20px;">Route Completion</h4>
      <div class="progress"
	   style="margin: 0 20px 10px 20px;">
	<div class="progress-bar progress-bar-success" 
	     style="width:{{percentRoute}}%;">
	  <span>
	    {{routeLength - routeDistanceRemain | round}} / {{routeLength}} m
	  </span>
	</div>
      </div>
      <h4 style="margin: 0 20px;">Next Unlock</h4>
      <div class="progress"
	   style="margin: 0 20px;">
	<div class="progress-bar" 
	     style="width: {{percentStage}}%;">
	  <span>
	    {{stageLength - distanceRemain | round}} / {{stageLength | round}} m
	  </span>
	</div>
      </div>
    </div>
    
    <div class="row bg-primary center">
      <div class="col-xs-6"
	   ng-click="endConfirm = false;">
	<h3 style="margin-top: 5px;">
	  <span class="glyphicon glyphicon-play"></span>
	</h3>
	<!-- <h3 style="margin-bottom: 0; -->
	<!-- 	   margin-top: 3px;">Total Time:</h3> -->
	<!-- <h2 style="margin-top: 0; -->
	<!-- 	   margin-bottom: 3px;">{{totalTime | time}}</h2> -->
      </div>
      <div class="col-xs-6"
	   ng-click="endSession()">
	<h3 style="margin: 5px;">
	  <span class="glyphicon"
		ng-class="{'glyphicon-pause': !endConfirm,
			  'glyphicon-stop': endConfirm}"></span>
	</h3>
	<p ng-show="endConfirm">
	  Click again to stop
	</p>
	<!-- <h3 style="margin-bottom: 0; -->
	<!-- 	   margin-top: 3px;">Heading For</h3> -->
	<!-- <h2 style="margin-top: 0; -->
	<!-- 	   margin-bottom: 3px;"> -->
	<!--     <span class="glyphicon glyphicon-certificate" -->
	<!-- 	  ng-class="{'route-done-gold': nextMedal.value == 'G', -->
	<!-- 		    'route-done-silver': nextMedal.value == 'S', -->
	<!-- 		    'route-done-bronze': nextMedal.value == 'B'}"></span> -->
	<!-- </h2> -->
      </div>
    </div>

    <!-- <div class="row"> -->
    <!--   <div class="col-xs-4 col-xs-offset-1"> -->
    <!-- 	<button class="btn btn-warning btn-lg" -->
    <!-- 		ng-show="endConfirm" -->
    <!-- 		ng-click="endConfirm = false;"> -->
    <!-- 	  Keep Running? -->
    <!-- 	</button> -->
    <!--   </div> -->
    <!--   <div class="col-xs-4 col-xs-offset-1"> -->
    <!-- 	<button class="btn btn-danger btn-lg" -->
    <!-- 		ng-click="endSession()"> -->
    <!-- 	  End Session? -->
    <!-- 	</button> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</div>
