<div>
  <div style="position: fixed;
	      top: 123px;
	      z-index: 1000;
	      width: 100%;"
       class="center">
    <div class="bg-primary" ng-hide="selected.name">
      <h3 style="margin: 0; padding-top: 8px;">Select a route!</h3>
    </div>
    <div class="bg-primary" ng-show="selected.name"
	 ng-click="start()">
      <h3 style="margin: 0; padding-top: 8px;">Tap to travel:</h3>
    </div>
    <div class="bg-primary"
	 style="height: 34px;
		padding-top: 4px;">
      <h4 style="margin: 0;">{{selected.name}}</h4>
    </div>
  </div>
  <div style="margin-top: 70px;">
    <div ng-show="missions.length == 0"
	 class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>
    <div class="scroll">
      <ul class="unstyled-list">
	<li ng-repeat="mission in missions">
	  <route-selector mission="mission"></route-selector>
	</li>
      </ul>
    </div>
  </div>
</div>
